/* BACKGROUND DISPLAY
    - diplays background as a grid element */
li.background-image{
    list-style-type: none;
}
@media(min-width: 900px){
    .background-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        z-index: -100;
        opacity: .5;
        margin-top: 35%;
        width: 100%;
        height: auto;
    }
    .background-image{
        background: url("../assets/background.png");
        background-repeat: no-repeat;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        background-repeat: no-repeat; 
    }
    .background-image:nth-child(odd){
        background-position: center top;
    }
    .background-image:nth-child(even){
        background-position: left center;
        margin-top: 50%;
    }
}
       