/* BACKGROUND DISPLAY
    - diplays background as a grid element */
@media(min-width: 900px){
    .background-container-left{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        z-index: -100;
        opacity: .5;
    }
    .background-image{
        background: url("../assets/background.png");
        background-repeat: no-repeat;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        background-repeat: no-repeat space;
    }
    .background-image:nth-child(odd){
        background-position: left center;
    }
    .background-image:nth-child(even){
        background-position: right center;
    }
    li.background-image{
        list-style-type: none;
    }
}
       